body{
    font-family: 'Lato', sans-serif;
    background-color:darkgray ;
    color:white;
}
p{
    text-align: justify;
    line-height: 2;
    color: black;
}
h1,h2{
    text-align:center;
    color: black;
}
a{

    color: white;
}
/*utilities*/
.btn{
    display:block;
    background-color:#222222;
    color: white;
    font-size: 18px;
    text-align: center;
    border: 10px;
    padding:10px;
    margin: 10px;

}
.btn-small{
    width: 150px;
    font-size: 14px;

}
.flex-container{
    display: flex;
    flex-direction:row;
}
.container{
    width:70%;
    margin-left: auto;
    margin-right: auto;
}
/*header*/
header.site-header{
   flex-basis: 30%;
   display:flex;
   flex-direction: column; 
   justify-content: center;
   height: 100vh;
}
/*menu*/

/*main*/
main.site-main{
    flex-basis:70%;
}
.title-greeting{
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}
.title-name{
    text-transform: uppercase;
    font-weight: bold;
    color: gold;
    font-size: 22px;
}
.title-name span{
    color: white;

}